<mat-grid-list cols="3" rowHeight="2:1">
  @for (model of models; track model) {
  <mat-grid-tile>
    <mat-card
      class="w-100 m-1 cursor-click"
      [class.active]="model === active"
      (click)="save(model)"
    >
      <mat-card-content>{{ model }}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
  }
  <mat-grid-tile>
    <mat-card class="w-100 m-1 cursor-click" (click)="clear()">
      <mat-card-content>Clear</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
